@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{
  background-color: #935427;
}

header {
    background-color: #935427;
    color: #fff;
    padding: 5px;
    text-align: left;
}

  .menu-lateral {
    position:fixed;
    height: 100%;
    padding-top: 60px;
  }

  .menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-lateral ul li {
    padding: 10px 0;
  }

  .menu-lateral ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 50px;
  }

  .menu-lateral ul li a:hover {
    background-color: #67493A;
    border-radius: 20px;
  }

