

.menu {
  background-color: #935427;
  width: 60%;
  height: 20px;
  font-size: 18px;
  position: absolute;
  margin-top: -60px;
  margin-left: 30%;
}
.menu a:hover {
  background-color: #67493A;
  border-radius: 20px;
}


.menu a {
  color: white;
  padding: 30px;
  text-decoration: none;
}

.body{
  float: right;
  width: 80%;
  margin: 0px 50px;
  background-color: rgb(194, 194, 194);
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  position: relative;
}

#logo{
  background-color: #935427;
  width: 150px;
  margin-left: 50px;
}

#rodape {
  float:inline-end;
  padding: 20px;
  width: auto;
  margin-right: 5%;
}

#footer{
  float:inline-end;
  padding: 20px;
  width: auto;
  margin-right: 45%;
}