
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #935427;
  padding: 10px;
  font-weight: bold;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #311b0f;
}

.menu a:hover {
  background-color: #a87054;
}


.body{
  float: right;
  width: 80%;
  margin: 0px 50px;
  background-color: rgb(194, 194, 194);
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

#logo{
  background-color: #935427;
  width: 150px;
  margin-left: 50px;
}

#rodape{
  bottom: 0;
  left: 35%;
  height: 150px;
  position: fixed;
  width: 100%;
  text-align: center;
}
